* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(221, 190, 85), rgb(216, 61, 25));
  transition: background 0.5s ease;
}

.container {
  text-align: center;
}

.colors {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.colors button {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#color1 {
  background-color: #001f3f;
}

#color2 {
  background-color: #bfff00;
  color: #000;
}

.colors button:hover {
  transform: translateY(-3px);
}

p {
  color: white;
  font-weight: 500;
}

.code-box {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;
  font-family: monospace;
  width: fit-content;
  margin-inline: auto;
  text-align: left;
}
